[Unit]
Description=Podcast Archiving Webapp
After=network.target

[Service]
User=podcasto
WorkingDirectory=/opt/archivepodcast
ExecStart=/usr/local/bin/pipenv run python selfhostarchive.py --webaddress 127.0.0.1 --config settings.json --logfile /var/log/archivepodcast.log --loglevel INFO --production
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target