[Unit]
Description=Nginx log geo ip to influxdb
After=network.target

[Service]
User=podcasto
WorkingDirectory=/opt/geostat
ExecStart=/opt/geostat/env/bin/python3 geoparser.py
Restart=always

[Install]
WantedBy=multi-user.target