#!/usr/bin/env bash

set -e

echo "Renewing certbot..."

/usr/bin/certbot renew

# Elastic

echo "Handleing Elastic..."

mkdir -p /etc/elasticsearch/certs/{{ homelab_domain_external }}/

cp /etc/letsencrypt/live/elastic.{{ homelab_domain_external }}/* /etc/elasticsearch/certs/{{ homelab_domain_external }}/

chown -R root:elasticsearch /etc/elasticsearch/certs

chmod -R u=rwX,g=rX,o= /etc/elasticsearch/certs

# Kibana

echo "Handleing Kibana..."

mkdir -p /etc/kibana/certs/{{ homelab_domain_external }}/

cp /etc/letsencrypt/live/elastic.{{ homelab_domain_external }}/* /etc/kibana/certs/{{ homelab_domain_external }}/

chown -R root:kibana /etc/kibana/certs

chmod -R u=rwX,g=rX,o= /etc/kibana/certs

echo "Done!"

# Elastic Agent

echo "Handleing Elastic Agent Fleet server..."

mkdir -p /etc/elastic-agent/certs/{{ homelab_domain_external }}/

cp /etc/letsencrypt/live/elastic.{{ homelab_domain_external }}/* /etc/elastic-agent/certs/{{ homelab_domain_external }}/

chown -R root:root /etc/elastic-agent/certs

chmod -R u=rwX,g=rX,o= /etc/elastic-agent/certs

echo "Done!"
