---
use_ssl: True

es_host: elastic.{{ homelab_domain_external }}
es_port: 9200

es_api_key: {{ secret_elastalert_api_key }}

writeback_index: elastalert_status

alert_time_limit:
  days: 2

buffer_time:
  hours: 6

run_every:
  minutes: 5

rules_folder: /opt/elastalert2/rules
