[Unit]
Description=Arr docker compose service
Requires=remote-fs.target
After=docker.service,remote-fs.target
StartLimitIntervalSec=93
StartLimitBurst=5

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory={{ arr_settings_base_dir }}/arr
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
