---
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1086
      - PGID=1086
      - TZ=Etc/UTC
    volumes:
      - {{ configure_docker_arr_settings_base_dir }}/sonarr/config:/config
      - {{ configure_docker_arr_tv_dir }}:/tv
      - {{ configure_docker_arr_downloads_base_dir }}/usenet/complete:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
    networks:
      net-arr:

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1086
      - PGID=1086
      - TZ=Etc/UTC
    volumes:
      - {{ configure_docker_arr_settings_base_dir }}/radarr/config:/config
      - {{ configure_docker_arr_movies_dir }}:/movies
      - {{ configure_docker_arr_downloads_base_dir }}/usenet/complete:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped
    networks:
      net-arr:

networks:
  net-arr:
    driver_opts:
      com.docker.network.bridge.name: br-arr

# https://github.com/aetaric/checkrr
