---
services:
  # Sonarrs
  sonarr-main:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr-main
    environment:
      - PUID=1086
      - PGID=1086
      - TZ=Australia/Perth
    volumes:
      - {{ arr_settings_base_dir }}/sonarr-main/config:/config
{% for key, value in arr_tv_dirs.items() %}
      - {{ value + ":/tv/" + key }}
{% endfor %}
      - {{ arr_downloads_base_dir }}/usenet/complete:/downloads
      - {{ arr_downloads_base_dir }}/torrent:/downloads_torrent
    ports:
      - 10000:8989
    restart: unless-stopped
    networks:
      net-arr:

  sonarr-documentary:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr-documentary
    environment:
      - PUID=1086
      - PGID=1086
      - TZ=Australia/Perth
    volumes:
      - {{ arr_settings_base_dir }}/sonarr-documentary/config:/config
      - {{ arr_tv_documentary_dir }}:/tv
      - {{ arr_downloads_base_dir }}/usenet/complete:/downloads
      - {{ arr_downloads_base_dir }}/torrent:/downloads_torrent
    ports:
      - 10002:8989
    restart: unless-stopped
    networks:
      net-arr:

  # Radarrs
  radarr-main:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr-main
    environment:
      - PUID=1086
      - PGID=1086
      - TZ=Australia/Perth
    volumes:
      - {{ arr_settings_base_dir }}/radarr-main/config:/config
      - {{ arr_movies_dir }}:/movies
      - {{ arr_downloads_base_dir }}/usenet/complete:/downloads
      - {{ arr_downloads_base_dir }}/torrent:/downloads_torrent
    ports:
      - 11000:7878
    restart: unless-stopped
    networks:
      net-arr:

  radarr-hq:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr-hq
    environment:
      - PUID=1086
      - PGID=1086
      - TZ=Australia/Perth
    volumes:
      - {{ arr_settings_base_dir }}/radarr-hq/config:/config
      - {{ arr_movies_hq_dir }}:/movies
      - {{ arr_downloads_base_dir }}/usenet/complete:/downloads
      - {{ arr_downloads_base_dir }}/torrent:/downloads_torrent
    ports:
      - 11001:7878
    restart: unless-stopped
    networks:
      net-arr:

  radarr-documentary:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr-documentary
    environment:
      - PUID=1086
      - PGID=1086
      - TZ=Australia/Perth
    volumes:
      - {{ arr_settings_base_dir }}/radarr-documentary/config:/config
      - {{ arr_movies_documentary_dir }}:/movies
      - {{ arr_downloads_base_dir }}/usenet/complete:/downloads
      - {{ arr_downloads_base_dir }}/torrent:/downloads_torrent
    ports:
      - 11002:7878
    restart: unless-stopped
    networks:
      net-arr:

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1086
      - PGID=1086
      - TZ=Australia/Perth
    volumes:
      - {{ arr_settings_base_dir }}/prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped


  jellyseerr:
      image: fallenbagel/jellyseerr:latest
      container_name: jellyseerr
      user: 1086:1086
      environment:
          - LOG_LEVEL=debug
          - TZ=Australia/Perth
      ports:
          - 5055:5055
      volumes:
          - {{ arr_settings_base_dir }}/jellyseerr/config:/app/config
      restart: unless-stopped

  # Misc


networks:
  net-arr:
    driver_opts:
      com.docker.network.bridge.name: br-arr

# https://github.com/aetaric/checkrr
# https://github.com/santiagosayshey/Profilarr/tree/main
# https://github.com/thomst08/requestrr
