server {
    return 301 https://{{ inventory_hostname }}.{{ homelab_domain_internal }}:8006$request_uri;
    server_name {{ inventory_hostname }}.{{ homelab_domain_internal }};
    listen 80;
}

server {
    return 301 https://{{ inventory_hostname }}.{{ homelab_domain_internal }}:8006$request_uri;
    server_name {{ inventory_hostname }}.{{ homelab_domain_internal }};
    listen 443 ssl;
    ssl_certificate /etc/ssl/certs/pveproxy-fetched.cer; # This is due to not being able to find the public key
    ssl_certificate_key /etc/pve/local/pveproxy-ssl.key;
}
