[defaults]
deprecation_warnings = True
host_key_checking = False
remote_user = ansible_svc
ansible_user = ansible_svc

# People who aren't Kieran, this is why the job output is in YAML
# stdout_callback = community.general.yaml
# stdout_callback = yamlmod
callback_result_format = yaml

pipelining = True # Testing 2024-09-11...
interpreter_python = auto_silent
# roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:~/src/ansible-playbooks-secrets/roles
gather_facts = False

[module_defauls]
gather_timeout = 30

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
