---
- name: Setup telegraf on all hosts
  # hosts: ansible_main
  hosts: pvematt, pvewill
  gather_facts: true
  become: true
  roles:
    # Preflight

    # Purpose specific
    - configure_telegraf
