---
- name: Create a new dhcp entry if needed
  delegate_to: localhost
  become: false
  ansibleguy.opnsense.dhcp_reservation:
    firewall: "{{ opnsense_firewall }}"
    api_key: "{{ secret_opnsense_api_key }}"
    api_secret: "{{ secret_opnsense_api_secret }}"
    subnet: "{{ target_host_subnet }}"
    hostname: "{{ inventory_hostname }}"
    ip: "{{ target_host_ip_address }}"
    mac: "{{ target_host_mac_address }}"
    description: "{{ now(fmt='%Y-%m-%d') }}: {{ ansible_host_description }}"
  notify: Reload kea config
