[Unit]
Description=Podcast Archiving Webapp
After=network.target

[Service]
User=podcasto
WorkingDirectory=/opt/archivepodcast
ExecStart=/opt/archivepodcast/env/bin/python3 selfhostarchive.py --config settings.json --logfile /var/log/archivepodcast.log --loglevel INFO
Restart=always

[Install]
WantedBy=multi-user.target