[[outputs.influxdb]]
  urls = ["{{ victoriametrics_url }}"]
  http_headers = {"Authorization" = "Bearer {{ secret_telegraf_victoriametrics_rw_token }}"}
  database = "telegraf"
  skip_database_creation = true
  exclude_retention_policy_tag = true
  content_encoding = "gzip"
