---
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    ports:
      - 8080:8080
    environment:
      - PUID=1086
      - PGID=1097
      - TZ=Australia/Perth
      - WEBUI_PORT=8080
    volumes:
      - {{arr_settings_base_dir}}/qbittorrent/config:/config
      - {{arr_downloads_base_dir}}/torrent:/downloads
      - /var/log/qbittorrent:/config/log
    restart: unless-stopped
