[Unit]
Description=qBittorrent service with docker compose
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ configure_docker_qbittorrent_base_dir }}/configs/qbittorrent
ExecStart=/usr/bin/docker compose up --remove-orphans
ExecStop=/usr/bin/docker compose down
Restart=always
RestartSec=30s
SyslogIdentifier=docker-qbittorrent

[Install]
WantedBy=multi-user.target
