---
services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    ports:
      - 8080:8080 # qBittorrent webui
      - 6881:6881 # qBittorrent listening port
      - 6881:6881/udp # qBittorrent listening port/udp
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - OPENVPN_USER={{ secret_mullvad_user }}
      - SERVER_CITIES=Singapore
      - FIREWALL_VPN_INPUT_PORTS=6881
      - PUID=1086
      - PGID=1086
      - TZ=Australia/Perth
    volumes:
      - {{ configure_docker_qbittorrent_settings_base_dir }}/gluetun:/config
    networks:
      net-gluetun:
    restart: always

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: service:gluetun
    environment:
      - PUID=1086
      - PGID=1086
      - TZ=Australia/Perth
      - WEBUI_PORT=8080
    volumes:
      - {{ configure_docker_qbittorrent_settings_base_dir }}/qbittorrent/config:/config
      - {{ configure_docker_qbittorrent_settings_base_dir }}/qbittorrent/watch:/watch
      - {{ configure_docker_qbittorrent_downloads_base_dir }}/torrent:/downloads
      - /var/log/qbittorrent:/config/log
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy

networks:
  net-gluetun:
    driver_opts:
      com.docker.network.bridge.name: br-gluetun
