[Unit]
Description=Jellyfin
After=network.target

[Service]
Type=simple
User=qbtuser
Group=content_public
Restart=always
ExecStart={{ configure_jellyfin_base_dir }}/startjellyfin.sh

[Install]
WantedBy=multi-user.target