#!/bin/bash
JELLYFINDIR="{{ configure_jellyfin_base_dir }}"
FFMPEGDIR="{{ configure_jellyfin_ffmpeg_dir }}"

$JELLYFINDIR/jellyfin/jellyfin \
 -d $JELLYFINDIR/data \
 -C $JELLYFINDIR/cache \
 -c $JELLYFINDIR/config \
 -l $JELLYFINDIR/log \
 --ffmpeg $FFMPEGDIR/ffmpeg