[Unit]
Description=ansibleinventorycmdb CMDB
After=network.target

[Service]
User=nginx
WorkingDirectory=/opt/ansibleinventorycmdb
ExecStart=/usr/local/bin/poetry run waitress-serve --listen "127.0.0.1:8081" --trusted-proxy '127.0.0.1' --trusted-proxy-headers 'x-forwarded-for' --log-untrusted-proxy-headers --clear-untrusted-proxy-headers --threads 2 --call ansibleinventorycmdb:create_app
Restart=always

[Install]
WantedBy=multi-user.target
