[Unit]
Description=Mount all NFS partitions
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/usr/bin/mount -a -t nfs

[Install]
WantedBy=multi-user.target
