---
- name: Remove old apt lists
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/{{ item }}
    state: absent
  loop:
    - influxdb.list
    - telegraf.list

- name: Ensure old repo listing is removed
  ansible.builtin.lineinfile:
    path: /etc/apt/sources.list.d/influxdata.list
    line: deb https://repos.influxdata.com/debian stable main
    state: absent

- name: Copy over apt key
  ansible.builtin.get_url:
    url: https://repos.influxdata.com/influxdata-archive.key
    dest: /etc/apt/keyrings/influxdata-archive.gpg
    mode: "0644"

- name: Add Telegraf repository {{ ansible_distribution | lower }}
  ansible.builtin.apt_repository:
    repo: |-
      deb
      [arch=amd64,arm64 signed-by=/etc/apt/keyrings/influxdata-archive.gpg]
      https://repos.influxdata.com/{{ ansible_distribution | lower }} stable main
    filename: influxdata
    state: present
