[Unit]
Description=qBittorrent service with docker compose
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/mnt/Quina/configs/qbittorrent
#ExecStart=/usr/bin/docker compose up --remove-orphans
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
