---
- name: Create per-vhost logging directory
  ansible.builtin.file:
    path: "/var/log/nginx/vhosts/"
    state: directory
    mode: "0750"
    owner: root
    group: nginx

- name: Copy nginx conf
  ansible.builtin.copy:
    src: files/hosts/{{ ansible_hostname }}/nginx.conf
    dest: /etc/nginx/nginx.conf
    mode: "0660"
  notify:
    - Restart nginx

- name: Include tasks for sites-enabled
  ansible.builtin.include_tasks: 02a-configure-nginx-sites.yml

- name: Ensure dirs exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /usr/share/nginx/html/
    - /usr/share/nginx/html/private/

- name: Copy public index.html
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /usr/share/nginx/html/{{ item | basename }}
    mode: "0664"
  with_fileglob: "files/hosts/{{ ansible_hostname }}/public/*"
  notify:
    - Restart nginx

- name: Copy private index.html
  ansible.builtin.copy:
    src: files/hosts/{{ ansible_hostname }}/private/index.html
    dest: /usr/share/nginx/html/private/index.html
    mode: "0664"
  notify:
    - Restart nginx

- name: Download css
  ansible.builtin.shell:
    cmd: |-
      set -o pipefail
      curl -LsS https://github.com/kism/zy.css/releases/download/main/grab.sh | bash
    chdir: /usr/share/nginx/html/
  changed_when: false # Sigh

- name: Fix perms
  ansible.builtin.file:
    path: /usr/share/nginx/html/
    recurse: true
    mode: "u=rwX,g=rwX,o=rX"
  changed_when: false # Sigh
