---
- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /etc/nginx/sites-available
    - /etc/nginx/sites-enabled

- name: Build list of source nginx config files
  ansible.builtin.find:
    paths: "{{ role_path }}/files/hosts/{{ ansible_hostname }}/sites-available/"
    patterns: "*.conf"
  delegate_to: localhost
  register: configure_reverse_proxy_source_files

- name: Build list of expected config filenames
  ansible.builtin.set_fact:
    configure_reverse_proxy_expected_files: "{{ configure_reverse_proxy_source_files.files | map(attribute='path') | map('basename') | list }}"

- name: Find existing nginx config files
  ansible.builtin.find:
    paths: /etc/nginx/sites-available/
    file_type: file
  register: configure_reverse_proxy_existing_files

- name: Set fact, mapping the existing files
  ansible.builtin.set_fact:
    configure_reverse_proxy_existing_file_names: "{{ configure_reverse_proxy_existing_files.files | map(attribute='path') | map('basename') | list }}"

- name: Remove nginx configs that are no longer needed
  ansible.builtin.file:
    path: "/etc/nginx/sites-available/{{ item }}"
    state: absent
  loop: "{{ configure_reverse_proxy_existing_file_names }}"
  when: item not in configure_reverse_proxy_expected_files
  notify:
    - Restart nginx

- name: Find existing symlinks in sites-enabled
  ansible.builtin.find:
    paths: /etc/nginx/sites-enabled/
    file_type: link
  register: configure_reverse_proxy_existing_symlinks

- name: Set fact, mapping the existing symlinks
  ansible.builtin.set_fact:
    configure_reverse_proxy_existing_symlink_names: "{{ configure_reverse_proxy_existing_symlinks.files | map(attribute='path') | map('basename') | list }}"

- name: Remove symlinks that are no longer needed
  ansible.builtin.file:
    path: "/etc/nginx/sites-enabled/{{ item }}"
    state: absent
  loop: "{{ configure_reverse_proxy_existing_symlink_names }}"
  when: item not in configure_reverse_proxy_expected_files
  notify:
    - Restart nginx

# Suffix any files you don't want at the minute with .bak
- name: Copy nginx site confs
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /etc/nginx/sites-available/
    mode: "0660"
  with_fileglob:
    - "files/hosts/{{ ansible_hostname }}/sites-available/*.conf"
  notify:
    - Restart nginx

- name: Build list of nginx configs
  ansible.builtin.find:
    paths: /etc/nginx/sites-available/
    file_type: file
  register: configure_reverse_proxy_config_files_found

- name: Extract config file paths
  ansible.builtin.set_fact:
    configure_reverse_proxy_config_paths: "{{ configure_reverse_proxy_config_files_found.files | map(attribute='path') | list }}"

- name: Create symbolic links to make sites available
  ansible.builtin.file:
    src: "{{ item }}"
    dest: /etc/nginx/sites-enabled/{{ item | basename }}
    state: link
  notify:
    - Restart nginx
  loop: "{{ configure_reverse_proxy_config_paths }}"
