---
- name: Are we skipping onboard roles?
  ansible.builtin.debug:
    msg: |-
      Skipping onboard server roles wahoo!
      ░██╗░░░░░░░██╗░█████╗░██╗░░██╗░█████╗░░█████╗░
      ░██║░░██╗░░██║██╔══██╗██║░░██║██╔══██╗██╔══██╗
      ░╚██╗████╗██╔╝███████║███████║██║░░██║██║░░██║
      ░░████╔═████║░██╔══██║██╔══██║██║░░██║██║░░██║
      ░░╚██╔╝░╚██╔╝░██║░░██║██║░░██║╚█████╔╝╚█████╔╝
      ░░░╚═╝░░░╚═╝░░╚═╝░░╚═╝╚═╝░░╚═╝░╚════╝░░╚════╝░
  when: skip_onboard is defined and skip_onboard | bool

- name: Include server onboarding roles...
  ansible.builtin.include_role:
    name: "{{ item_role }}"
  loop_control:
    loop_var: item_role
  loop:
    - configure_package_manager
    - configure_packages
    - configure_users
    - configure_misc
    - configure_sshd
    - configure_locale
    - configure_firewall
    - configure_motd
  when: skip_onboard is not defined or not (skip_onboard | bool)
