[Unit]
Description=Podcast Archiving Webapp
After=network.target

[Service]
User=root
WorkingDirectory={{ configure_ace_restreamer_directory }}
ExecStart={{ configure_ace_restreamer_directory }}/.venv/bin/waitress-serve --listen "127.0.0.1:5100" --trusted-proxy '*' --trusted-proxy-headers 'x-forwarded-for x-forwarded-proto x-forwarded-port' --log-untrusted-proxy-headers --clear-untrusted-proxy-headers --threads 4 --call acerestreamer:create_app
Restart=always

[Install]
WantedBy=multi-user.target
