[Unit]
Description="Timer for certbot renew script"

[Timer]
Unit=duckdns_renew.service
Persistent=true
# Run every day at 4am
OnCalendar=*-*-* 04:20:00

[Install]
WantedBy=timers.target
