[Unit]
Description=Factorio Server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/factorio/bin/x64/factorio --start-server {{ install_factorio_server_save }} --server-settings {{ install_factorio_server_settings }}
User=factorio
Group=factorio
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target