[Unit]
Description="Timer for certbot script"

[Timer]
Unit=certbot_renew.service
Persistent=true
# Run every day at 2am
OnCalendar=*-*-* 02:20:00

[Install]
WantedBy=timers.target
