[Unit]
Description=Tabby Service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/tabby serve --model StarCoder2-3B --chat-model Qwen2-1.5B-Instruct --device cuda
User=ollama
Group=ollama
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
