---
- name: Include tasks for all
  ansible.builtin.include_tasks: "01-all.yml"

- name: Include tasks for baremetal hosts
  when: ansible_facts['virtualization_role'] == 'host' or ansible_facts['virtualization_role'] == 'NA'
  ansible.builtin.include_tasks: "02-baremetal.yml"

- name: Include tasks to remove snappy
  ansible.builtin.include_tasks: "03-remove-snappy.yml"

- name: Include tasks for fastfetch
  ansible.builtin.include_tasks: "04-fastfetch.yml"

- name: Include tasks for latest python versions
  ansible.builtin.include_tasks: "05-latest-python.yml"
