---
- name: Reload kea config
  delegate_to: localhost
  become: false
  run_once: true
  ansibleguy.opnsense.reload:
    firewall: "{{ opnsense_firewall }}"
    api_key: "{{ secret_opnsense_api_key }}"
    api_secret: "{{ secret_opnsense_api_secret }}"
    target: "kea"

- name: Reload unbound config
  delegate_to: localhost
  become: false
  run_once: true
  ansibleguy.opnsense.reload:
    firewall: "{{ opnsense_firewall }}"
    api_key: "{{ secret_opnsense_api_key }}"
    api_secret: "{{ secret_opnsense_api_secret }}"
    target: "unbound"
