---
# - name: Clone repo
#   ansible.builtin.git:
#     repo: "https://github.com/kism/acerestreamer"
#     dest: "{{ configure_acerestreamer_directory }}"
#     version: main
#     update: true
#   notify: Restart acerestreamer

- name: Setup virtual environment
  ansible.builtin.command:
    cmd: "/usr/local/bin/uv venv"
    chdir: "{{ configure_acerestreamer_directory }}"
  changed_when: true

- name: Sync uv packages
  ansible.builtin.command:
    cmd: "/usr/local/bin/uv sync"
    chdir: "{{ configure_acerestreamer_directory }}"
  changed_when: true
