---
name: ansible-lint
on:
  push:
    branches:
      - main

jobs:
  build:
    name: Ansible Lint # Naming the build is important to use it as a status check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install ansible
        run: pipx install ansible-base

      - name: Install ansible
        run: pipx install ansible-lint

      - name: Add ~/.local/.bin to path for pipx packages
        run: echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install Ansible-Galaxy Requirements
        run: ansible-galaxy collection install --requirements-file collections/requirements.yml

      - name: Run ansible-lint
        run: ansible-lint
